header {
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;

    position: fixed;
    top: 0;

    width: 100%;
    background: #22252f;
    z-index: 999;
}

/* Reset default page margins and use border-box sizing */
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



#wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;

}

.index-wrap {
    flex: 1;
    font-size: 2em;
    padding: 2rem;

    display: grid;
    column-gap: 6em;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(16, auto);

    padding-bottom: 10rem;
    overflow-x: hidden;
}

img {
    grid-column: 1 / -1;
    grid-row: 1 / 15;
    max-height: 500px;
    max-width: 100px;
}

body {
    padding-top: 100px;
    color: rgb(214, 221, 227);
    background-color: #13151c;
}

h1 {
    font-family: "Silkscreen", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.phrase1 {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    text-align: left;
}

.phrase2 {
    grid-column: 2 / 3;
    grid-row: 2 / 4;
    text-align: right;
}


.phrase3 {
    grid-column: 1 / 2;
    grid-row: 6 / 8;
    text-align: left;
}

.phrase4 {
    grid-column: 2 / 3;
    grid-row: 7 / 9;
    text-align: right;
}

.phrase5 {
    font-size: 1.1em;
    grid-column: 1 / 2;
    grid-row: 11 / 12;
    text-align: center;
}

.phrase6 {
    font-size: 1.1em;
    grid-column: 2 / 3;
    grid-row: 11 / 12;
    text-align: center;
}

.homeimg {
    margin: 0;
    grid-column: -1/ 1;
    grid-row: 12 / 13;

    transform: translateX(32.3%);

    padding-top: 30px;
    padding-bottom: 30px;

    /* Crop container to prevent horizontal overflow */

    width: 100%;
    max-width: 1450px;
    max-height: 1000px;
    justify-self: center;
}

.homeimg img {
    max-width: 100%;
    height: auto;
}

.spacer {
    grid-column: 1 / -1;
    min-height: 120px;
    visibility: hidden;
}




/* NEXT BUTTON*/

.buttonclick button {
    margin-top: 10rem;

    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;

    background-color: rgb(143, 150, 186, 0.4);
    border: none;
    color: rgb(214, 221, 227);
    font-size: 0.7em;
    border-radius: 15px;
    padding: 15px;

}

.button1 {
    grid-column: 1 / -1;
    grid-row: 16;
    text-decoration: none;
    text-align: center;

}

button:hover {
    cursor: pointer;
}


.index-wrap h1 {
    grid-column: 1 / -1;
    grid-row: 15;
    text-align: center;

}

/* Ensure the Next button container is placed at the bottom center of the index grid */
.buttonclick {
    grid-column: 1 / -1;
    grid-row: 16;
    text-align: center;
    justify-self: center;
    align-self: end;
    width: 100%;
}

/* Remove the large top margin from generic buttons when inside the index grid */
.index-wrap .buttonclick button,
.index-wrap .button1 button {}

.defbody {
    padding-left: 2em;
    padding-right: 2em;
}



h2 {
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}


.deftext {
    display: inline-block;
    gap: 20px;
    margin-bottom: 3em;
}


.defpic {
    display: flex;
    justify-content: center;
    margin-bottom: 45px;
}

.defpic img {
    width: 100%;
    max-width: 600px;
    height: auto;
}




/* MANIPULATION*/
.manitext {
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 3em;
}

.manitext figure {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    height: auto;
}

.manipic img {
    padding-top: 1em;
    width: 100%;
    max-width: 600px;
    height: auto;
    display: block;
    padding-bottom: 2em;
}


/*EXAMPLES*/
.examplestitle {
    text-align: center;
}

.examplestext {
    display: grid;
    grid-template-columns: repeat (2, 1fr);
    text-align: center;


}

.examplestext p {
    font-size: 2.5em;
}

.examplestext img {
    height: 350px;
    /* same visual height for all */
    width: auto;
    /* allow width to scale to keep aspect ratio */
    max-width: none;
    /* override any global max-width rule */
    display: block;
    margin: 0 auto;
    border: 2px solid rgb(214, 221, 227, 0.75);
    border-radius: 15px;
}

.google {
    grid-column: 1 / 2;
    align-items: center;
}

.tiktok {
    grid-column: 2 / 3;
    align-items: center;
}

.google p,
.tiktok p {
    margin: 0;
    padding-top: 15px;
    color: rgb(214, 221, 227);
    font-size: 2em;
    cursor: relative;
    position: relative;
    display: inline-block;
}

.menu2 {
    text-decoration: none;
}

.google p::before,
.tiktok p::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #d6dde3;
    bottom: -5px;
    left: 0;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s ease;
}

.google p:hover::before,
.tiktok p:hover::before {
    transform: scaleX(1);
    transform-origin: left;

}


.examplestext a:hover p::before,
.examplestext a:focus p::before {
    transform: scaleX(1);
    transform-origin: left;
}


.menu2 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.menu2 img:hover {
    transform: scale(1.1);
    cursor: pointer;
}


.books h2 {
    margin: 0;
}

p,
ul {
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.char-text {
    text-align: center;
}

.googletext,
.tiktoktext {
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 15em;
}

.consenttext {
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 7em;
}

.consenttext2,
.googletext2,
.tiktoktext2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1;
    justify-items: center;
    align-items: center;

}

.consentp,
.googlep,
.tiktokp {
    grid-column: 1 / 3;
    grid-row: 1 / -1;
}

.consentpic,
.googlepic,
.tiktokpic {
    grid-column: 3 / 4;
    grid-row: 1 / -1;
}

.consentpic img {
    max-width: 300px;
}

.googlepic img,
.tiktokpic img {
    max-width: 450px;
}


.examplestext {
    margin-bottom: 50px;
}


.impacttext {
    display: inline-block;
    padding-left: 32px;
    padding-right: 32px;
}

.impactpic {
    display: flex;
    justify-content: center;
    height: auto;
    margin-bottom: 50px;
}

.impactpic img {
    max-width: 800px;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    line-height: 40px;
    z-index: 1000;
    white-space: normal;

}

.books {

    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-auto-rows: auto;
    gap: 30px;
    align-items: center;
    padding: 0 16px;
    box-sizing: border-box;
    justify-items: center;
}



/* GOOGLE */
.googletitle {
    display: flex;
    align-items: center;
    gap: 35px;
}

.googletext,
.tiktoktext,
.impacttext,
.solutiontext {
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 5em;
}


.consenttext {
    margin-bottom: 8em;
}

.examplestext {
    margin-bottom: 16em;
}


/* TIKTOK */
.tiktoktitle {
    display: flex;
    align-items: center;
    gap: 35px;
}


/* SOLUTIONS */
.solutiontext {
    padding-bottom: 15em;
}

.solutiontext2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1;
    justify-items: center;
    align-items: center;

}

.solutionp {
    grid-column: 1 / 3;
    grid-row: 1 / -1;
    margin-right: 10px;
}

.solutionpic {
    grid-column: 3 / 4;
    grid-row: 1 / -1;

    display: flex;
    justify-content: center;
    margin: 0 auto;
    height: auto;
}

li {
    margin-bottom: 10px;
}

.solutionpic img {
    max-width: 450px;
}



.back img {
    align-items: center;
}


/* Characteristics */
.im1 {
    background-color: rgb(143, 150, 186, 0.4);
    padding: 1.5em;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    grid-column: 1 / 2;
    transition: transform 0.3s ease, opacity 0.3s ease;
    height: 350px;
}

.im1:hover {
    transform: scale(1.1);
    cursor: default;
}


.im2 {
    background-color: rgb(143, 150, 186, 0.4);
    padding: 1.5em;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    grid-column: 2 / 3;
    transition: transform 0.3s ease, opacity 0.3s ease;
    height: 350px;
}

.im2:hover {
    transform: scale(1.1);
    cursor: default;
}

.im3 {
    background-color: rgb(143, 150, 186, 0.4);
    padding: 1.5em;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    grid-column: 3 / 4;
    transition: transform 0.3s ease, opacity 0.3s ease;
    height: 350px;
}

.im3:hover {
    transform: scale(1.1);
    cursor: default;
}


.im4 {
    background-color: rgb(143, 150, 186, 0.4);
    padding: 1.5em;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    grid-column: 1 / 2;
    transition: transform 0.3s ease, opacity 0.3s ease;
    height: 395px;
}

.im4:hover {
    transform: scale(1.1);
    cursor: default;
}


.im5 {
    background-color: rgb(143, 150, 186, 0.4);
    padding: 1.5em;
    border-radius: 15px;
    display: inline-block;
    grid-column: 2 / 3;
    transition: transform 0.3s ease, opacity 0.3s ease;
    height: 395px;
}

.im5:hover {
    transform: scale(1.1);
    cursor: default;
}


.im6 {
    background-color: rgb(143, 150, 186, 0.4);
    padding: 1.5em;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    grid-column: 3 / 4;
    transition: transform 0.3s ease, opacity 0.3s ease;
    height: 395px;
}

.im6:hover {
    transform: scale(1.1);
    cursor: default;
}


.books img {
    width: 100%;
    display: block;
    width: 100%;
    max-width: 300px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}





.logo {
    text-align: left;
    align-items: center;
    flex: 0 0 auto;
}

.logo a {
    display: flex;
    align-items: center;
    line-height: 0%;
}

.logo img {
    width: auto;
    height: 50px;
    margin-left: 12px;
}

.menu1 {
    display: flex;
    flex-wrap: nowrap;

    align-items: center;
    padding: 0.5rem 1rem;

    gap: 2rem;
    overflow: hidden;
    flex-shrink: 1;
}



.menu1 a {
    color: rgb(143, 150, 186);
    text-decoration: none;
    padding: 0.5rem;
}

.hamburger-menu {
    display: none;
}


.menu1 a {
    color: rgb(143, 150, 186);
    text-decoration: none;
    padding: 0.5rem;
    transition: color 0.3s;
}

.menu1 a:hover {
    color: rgb(238, 242, 245);

}

.menuI {
    font-size: 15px;
}


.hamburger-menu {
    display: none;
    /* Hidden by default, will be shown on mobile */
    align-items: center;
    justify-content: center;
    color: black;
}

.hamburger-menu button {
    background: none;
    border: none;
    font-size: 2em;
    /* Size of the hamburger menu icon*/
    color: rgb(143, 150, 186);
}

.hamburger-menu button .fa-bars {
    cursor: pointer;
}

footer {
    bottom: 0;
    margin-bottom: 40px;
    min-height: 30px;
    font-size: 18px;
    text-align: center;
    font-style: italic;
    color: rgb(143, 150, 186);

}

footer a {
    text-decoration: none;
    color: rgb(143, 150, 186);
}

.social {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.social .fa {
    padding: 12px;
    font-size: 1.5em;
    color: rgb(143, 150, 186);
}

.credit {
    margin: 0 auto;
    text-align: center;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}



@media (max-width: 1157px) {

    nav {
        height: 72px;
    }

    .menu1 {
        font-size: 0px;
        display: none;
        z-index: 1000;
    }


    .hamburger-menu {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .menu-deployed {
        display: flex;
        /* Use flexbook for layout*/
        flex-direction: column;
        /* Stack elements vertically */
        justify-content: center;
        /* Center elements vertically */
        align-items: center;
        /* Center elements horizontally*/
        width: 100%;
        /* Takes full width*/
        height: 100vh;
        /* Take full height of the viewport */
        position: fixed;
        /* Fixed position to cover the entire screen */
        top: 0;
        /* From the top of the page */
        left: 0;
        /* From the left side of the page */
        background-color: #13151c;
        /* White background for the menu*/
        z-index: 1000;
        /* Ensure the menu is above all content*/
        padding-top: 10px;
        /* add some space at the top */
    }

    .books {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        max-width: 450px;
        margin: 0 auto 40px auto;
        padding: 0 16px;
        gap: 24px;
        justify-items: center;
    }

    .books [class^="im"] {
        grid-column: auto !important;
        grid-row: auto !important;
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    /* Prevent horizontal overflow on the Impact page */
    .impactpic {
        max-width: 100%;
        overflow: hidden;
        box-sizing: border-box;
        display: block;
        margin: 0 auto 24px auto;
    }

    .impactpic img {
        width: 100%;
        max-width: 100%;
        height: auto;
        display: block;
    }

    .impacttext {
        padding-left: 16px;
        padding-right: 16px;
        box-sizing: border-box;
        overflow-x: hidden;
    }


    .examplestext {
        display: flex;
        flex-direction: column;
        gap: 3em;
        padding-left: 16px;
        padding-right: 16px;
        box-sizing: border-box;
        overflow-x: hidden;
    }

    .googletext2,
    .tiktoktext2,
    .solutiontext2,
    .consenttext2 {
        display: flex;
        flex-direction: column;
    }

    .solutionpic,
    .impactpic,
    .consentpic {
        margin-bottom: 2em;
    }

    footer {
        padding-left: 20px;
        padding-right: 20px;
    }
}